/* src/scss/organisms/_admin-page-footer.scss */
.admin-page-footer {
	display: block;
	position: relative;
	padding-top: 10%;
	clear: both;
	
	.text-wrap {
		display: inline-block;
		
		width: auto;
	}
	.logo-wrap {
		display: block;
		margin: 0 auto;
		text-align: center;
		width: auto;
		
		.powered-by-text {
			position: relative;
			top: 5px;
			padding-right: 10px;
			font-weight: 700;
			vertical-align: top;
		}
		
		img {
			display: inline-block;
			margin: 0 auto;
			vertical-align: middle;
			max-width: 100px;
			width: auto;
		}
	}
}