/* src/scss/scss-mixins-function/_function-color.scss */

$gray-base: #444444 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

$brand-primary: darken(#428bca, 6.5%) !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$theme-colors: (
		'color-1': #E0AE18,
		'color-2': #1FA2CF,
		'color-3': #0B438E,
		'color-4': #828186,
);

$theme-colors-variations: (
		'color-1-light': #d44b3c,
		'color-1-dark': #9a2316
);

$theme-colors: map_merge($theme-colors, $theme-colors-variations);

$other-colors: (
		'black': #000000,
		'white': #ffffff,
		'gray-ligher': $gray-lighter,
		'gray-light': $gray-light,
		'gray': $gray,
		'gray-dark': $gray-dark,
		'gray-darker': $gray-darker,
		'brand-primary': $brand-primary,
		'brand-success': $brand-success,
		'brand-info': $brand-info,
		'brand-warning': $brand-warning,
		'brand-danger': $brand-danger
);

$colors: map-merge($theme-colors, $other-colors);
/** Pull a color from the color map **/
@function get-color($key, $transparency: 0){
	@if map-has-key($colors, $key) {
		@return transparentize(map-get($colors, $key), $transparency);
	}
	@error "Invalid color name: `#{$key}`.";
}