/* src/scss/scss-mixins-function/_mixin-linear-gradient.scss */
/**
 * Created a gradient with any number of passed colors
 */
@mixin linear-gradient($direction, $gradients...) {
	background-color: nth($gradients, 1);
	background-image: linear-gradient($direction, $gradients);
}