/* src/scss/scss-mixins-function/_mixin-vertical-flow.scss */
@function first($list){
	@return nth($list, 1);
}

@function last($list){
	@return nth($list, length($list));
}

@mixin vertical-flow($size, $unit: 'px', $type: 'padding') {
	$sizes: (
			'xs': 40px,
			'sm': 55px,
			'md': 65px,
			'lg': 75px,
			'xl': 120px,
	);
	$sizesPercentage: (
			'xs': 3%,
			'sm': 3.5%,
			'md': 4%,
			'lg': 5%,
			'xl': 7%,
	);
	
	$map: $sizes;
	
	$unitArray: explode($unit, '-');
	$unitTop: first($unitArray);
	$unitBottom: last($unitArray);
	
	$mapTop: $sizes;
	$mapBottom: $sizes;
	
	@if $unitTop == '%' {
		$mapTop: $sizesPercentage;
	}
	@if $unitBottom == '%' {
		$mapBottom: $sizesPercentage;
	}
	
	$sizeArray: explode($size, '-');
	$sizeTop: first($sizeArray);
	$sizeBottom: last($sizeArray);
	
	
	@if map-has-key($map, $sizeTop) {
		#{$type}-top: map-get($mapTop, $sizeTop);
	} @else {
		@error "Size `#{$sizeTop}` not found.";
	}
	
	@if map-has-key($map, $sizeBottom) {
		#{$type}-bottom: map-get($mapBottom, $sizeBottom);
	} @else {
		@error "Size `#{$sizeBottom}` not found.";
	}
}