/*scss/variables/_colors.scss*/

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base: #444444 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

$brand-primary: darken(#428bca, 6.5%) !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$theme-colors: (
		'color-1': #E0AE18,
		'color-2': #1FA2CF,
		'color-3': #0B438E,
		'color-4': #828186,
);

$theme-colors-variations: (
		'color-1-light': #d44b3c,
		'color-1-dark': #9a2316
);

$theme-colors: map_merge($theme-colors, $theme-colors-variations);

$other-colors: (
		'black': #000000,
		'white': #ffffff,
		'gray-ligher': $gray-lighter,
		'gray-light': $gray-light,
		'gray': $gray,
		'gray-dark': $gray-dark,
		'gray-darker': $gray-darker,
		'brand-primary': $brand-primary,
		'brand-success': $brand-success,
		'brand-info': $brand-info,
		'brand-warning': $brand-warning,
		'brand-danger': $brand-danger
);

$colors: map-merge($theme-colors, $other-colors);

.gradient {
	margin-top: 15px;
	padding: 20px;
	color: #fff;
	@include linear-gradient(to right, to-string(map-values($colors), ','));
}

@each $id, $color in $colors {
	.text-#{$id} {
		color: $color;
	}
	.bg-#{$id} {
		background-color: $color;
	}
	
	.color-demo {
		&.bg-#{$id} {
			color: dynamic-color($color);
			&::after {
				display: block;
				position: relative;
				content: "[bg|text]-#{$id}  #{$color}";
				top: 50%;
				text-align: center;
				transform: translateY(-50%);
			}
		}
	}
}

.flex-container {
	display: flex;
	justify-content: space-around;
	> div {
		
	}
}

.color {
	height: 100px;
	color: #fff;
	font-size: 12px;
}

.colorFixed {
	position: fixed;
	z-index: 3000;
	right: 0;
	top: 0;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.57);
	
	.color {
		float: none;
		margin-right: 0;
		width: 70px;
		height: 50px;
	}
}
