/*scss/variables/_wrap.scss*/
.voice-ai-main,
.voice-ai-sidebar {
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	float: left;
	
	&::after {
		content: "";
		display: block;
		min-height: 1px;
		clear: both;
	}
	
	&,
	& * {
		box-sizing: border-box;
	}
	
	#poststuff {
		min-width: auto;
	}
	
	img {
		display: block;
		max-width: 100%;
	}
}

@media (min-width: 961px) {
	.voice-ai-main {
		border-right: 1px solid get-color('gray-light');
		width: 70%;
	}
	
	.voice-ai-sidebar {
		width: 30%;
	}
}

/*@include wrap($wrapWidth, $mpad);*/